/* Estilos para alguns atributos principais */
#logo-1{
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color: red;
    
}
#logo-2{
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    color:white;  
}
#menu{
    background-color: black;